.sqButton {
    font-size: 1.5em;
    color: rgb(58, 26, 220);
}

.sqContainer {
    width: 3em;
    height: 3em;
    color: white;
    background-color: black;
    margin: 0.2em;
    text-align: center;
    
   
}

p {
    color: black;
    text-align: center;
}